* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: slateblue;
  height: 100vh;
}

.main fieldset {
  padding: 20px;
  border-color: aquamarine;
  /* box-shadow: 5px 5px 5px black; */
  border-radius: 10px;
}

.main legend {
  border: 1px solid aquamarine;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px aquamarine;
  background-color: aquamarine;
  font-weight: bold;
  text-shadow: 5px 5px 5px;
}

.main form {
  background-color: aliceblue;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px;
}

.main .input-main {
  background-color: slateblue;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  transition: .3s;
}

.main .input-main label {
  color: whitesmoke;
  text-shadow: 0px 0px 5px black;
  font-weight: bold;
  font-size: 20px;
}

.main .input-main input:focus {
  outline: none;
}

.main .input-main input {
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  box-shadow: 0px 0px 5px aquamarine;
  background-color: aliceblue;
}

button {
  padding: 15px;
  background-color: aquamarine;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  text-shadow: 0px 0px 3px black;
  cursor: pointer;
  border: none;
  transition: 0.3s;
  border: 1px solid black;
}

button:hover {
  box-shadow: 0px 0px 10px black;
  transition: 0.3s;
}

.failed-msg {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: red;
  text-shadow: 0px 0px 2px black;
}

.success-msg {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: green;
  text-shadow: 0px 0px 2px black;
}

.error {
  font-size: 30px;
  color: red;
  text-shadow: 0px 0px 2px red;
}

.success {
  font-size: 30px;
  color: greenyellow;
  text-shadow: 0px 0px 2px greenyellow;
}
